<p id="notice"><%= notice %></p>

<p>
  <b>Employee number:</b>
  <%= @employee.employee_number %>
</p>

<p>
  <b>Joining date:</b>
  <%= @employee.joining_date %>
</p>

<p>
  <b>First name:</b>
  <%= @employee.first_name %>
</p>

<p>
  <b>Middle name:</b>
  <%= @employee.middle_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @employee.last_name %>
</p>

<p>
  <b>Gender:</b>
  <%= @employee.gender %>
</p>

<p>
  <b>Job title:</b>
  <%= @employee.job_title %>
</p>

<p>
  <b>Reporting manager:</b>
  <%= @employee.reporting_manager_id %>
</p>

<p>
  <b>Qualification:</b>
  <%= @employee.qualification %>
</p>

<p>
  <b>Experience detail:</b>
  <%= @employee.experience_detail %>
</p>

<p>
  <b>Experience year:</b>
  <%= @employee.experience_year %>
</p>

<p>
  <b>Experience month:</b>
  <%= @employee.experience_month %>
</p>

<p>
  <b>Status:</b>
  <%= @employee.status %>
</p>

<p>
  <b>Status description:</b>
  <%= @employee.status_description %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @employee.date_of_birth %>
</p>

<p>
  <b>Marital status:</b>
  <%= @employee.marital_status %>
</p>

<p>
  <b>Children count:</b>
  <%= @employee.children_count %>
</p>

<p>
  <b>Father name:</b>
  <%= @employee.father_name %>
</p>

<p>
  <b>Mother name:</b>
  <%= @employee.mother_name %>
</p>

<p>
  <b>Husband name:</b>
  <%= @employee.husband_name %>
</p>

<p>
  <b>Blood group:</b>
  <%= @employee.blood_group %>
</p>

<p>
  <b>Home address line1:</b>
  <%= @employee.home_address_line1 %>
</p>

<p>
  <b>Home address line2:</b>
  <%= @employee.home_address_line2 %>
</p>

<p>
  <b>Home city:</b>
  <%= @employee.home_city %>
</p>

<p>
  <b>Home state:</b>
  <%= @employee.home_state %>
</p>

<p>
  <b>Home country:</b>
  <%= @employee.home_country_id %>
</p>

<p>
  <b>Home pin code:</b>
  <%= @employee.home_pin_code %>
</p>

<p>
  <b>Office address line1:</b>
  <%= @employee.office_address_line1 %>
</p>

<p>
  <b>Office address line2:</b>
  <%= @employee.office_address_line2 %>
</p>

<p>
  <b>Office state:</b>
  <%= @employee.office_state %>
</p>

<p>
  <b>Office city:</b>
  <%= @employee.office_city %>
</p>

<p>
  <b>Office country:</b>
  <%= @employee.office_country_id %>
</p>

<p>
  <b>Office pin code:</b>
  <%= @employee.office_pin_code %>
</p>

<p>
  <b>Office phone1:</b>
  <%= @employee.office_phone1 %>
</p>

<p>
  <b>Office phone2:</b>
  <%= @employee.office_phone2 %>
</p>

<p>
  <b>Mobile phone:</b>
  <%= @employee.mobile_phone %>
</p>

<p>
  <b>Home phone:</b>
  <%= @employee.home_phone %>
</p>

<p>
  <b>Email:</b>
  <%= @employee.email %>
</p>

<p>
  <b>Fax:</b>
  <%= @employee.fax %>
</p>

<p>
  <b>Photo file name:</b>
  <%= @employee.photo_file_name %>
</p>

<p>
  <b>Photo content type:</b>
  <%= @employee.photo_content_type %>
</p>

<p>
  <b>Photo data:</b>
  <%= @employee.photo_data %>
</p>


<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
