<p id="notice"><%= notice %></p>

<p>
  <b>Admission no:</b>
  <%= @student.admission_no %>
</p>

<p>
  <b>Class roll no:</b>
  <%= @student.class_roll_no %>
</p>

<p>
  <b>Admission date:</b>
  <%= @student.admission_date %>
</p>

<p>
  <b>First name:</b>
  <%= @student.first_name %>
</p>

<p>
  <b>Middle name:</b>
  <%= @student.middle_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @student.last_name %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @student.date_of_birth %>
</p>

<p>
  <b>Gender:</b>
  <%= @student.gender %>
</p>

<p>
  <b>Blood group:</b>
  <%= @student.blood_group %>
</p>

<p>
  <b>Birth place:</b>
  <%= @student.birth_place %>
</p>

<p>
  <b>Nationality:</b>
  <%= @student.nationality_id %>
</p>

<p>
  <b>Language:</b>
  <%= @student.language %>
</p>

<p>
  <b>Religion:</b>
  <%= @student.religion %>
</p>

<p>
  <b>Address line1:</b>
  <%= @student.address_line1 %>
</p>

<p>
  <b>Address line2:</b>
  <%= @student.address_line2 %>
</p>

<p>
  <b>City:</b>
  <%= @student.city %>
</p>

<p>
  <b>State:</b>
  <%= @student.state %>
</p>

<p>
  <b>Pin code:</b>
  <%= @student.pin_code %>
</p>

<p>
  <b>Country:</b>
  <%= @student.country_id %>
</p>

<p>
  <b>Phone1:</b>
  <%= @student.phone1 %>
</p>

<p>
  <b>Phone2:</b>
  <%= @student.phone2 %>
</p>

<p>
  <b>Email:</b>
  <%= @student.email %>
</p>

<p>
  <b>Is sms enabled:</b>
  <%= @student.is_sms_enabled %>
</p>


<p>
  <b>Status description:</b>
  <%= @student.status_description %>
</p>

<p>
  <b>Is active:</b>
  <%= @student.is_active %>
</p>

<p>
  <b>Is deleted:</b>
  <%= @student.is_deleted %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
