<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @login.username %>
</p>

<p>
  <b>Password:</b>
  <%= @login.password %>
</p>


<%= link_to 'Edit', edit_login_path(@login) %> |
<%= link_to 'Back', logins_path %>
