<p id="notice"><%= notice %></p>

<p>
  <b>Config key:</b>
  <%= @schooldatum.config_key %>
</p>

<p>
  <b>Config value:</b>
  <%= @schooldatum.config_value %>
</p>


<%= link_to 'Edit', edit_schooldatum_path(@schooldatum) %> |
<%= link_to 'Back', schooldata_path %>
